.navsection{
  border: 2px solid red;

}
.title{
  background-color: black;
  color:white
}
.user-detail{
  text-align:right
}
.placeholder{

display: flex;
flex-direction: row;
justify-content: center;

}
.search-card{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.submenu ul {
  display: inline-flex;}
.submenu ul {
  background-color:rgb(34 23 23);
color: silver;
height: 50;
}
.submenu ul li {
  list-style: none;
  margin:20px;
  /* border: 2px solid green; */
}